---
date: date
layout: default
title: Home
---
<div id="posts">
	{% for post in paginator.posts %}
	<div class="post-shell">
		<div class="post">
			<a href="{{ post.url }}">
				<h1 class="title">{{ post.title }}</h1>
			</a>

			{{ post.content }}	
		</div>
	</div>
	{% endfor %}
	{% if paginator.total_pages > 1 %}
	<div id="page-bar">
		{% if paginator.previous_page %}
		<div id="page-bar-prev">
			{% if paginator.previous_page == 1 %}
			<a href="/">Prev</a>
			{% else %}
			<a href="/page{{ paginator.previous_page }}">Prev</a>
			{% endif %}
		</div>
		{% endif %}
		{% if paginator.next_page %}
		<div id="page-bar-next">
			<a href="/page{{ paginator.next_page }}">Next</a>
		</div>
		{% endif %}
	</div>
	{% endif %}
</div>
