---
date: date
layout: default
title: Home
---
	{% for post in paginator.posts %}
		<article>
			<a href="{{ post.url }}">
				<h1 class="title">{{ post.title }}</h1>
				<span class="date">Posted {{ post.date | date: "%B %d" }}</span>
			</a>
			{{ post.content | truncatewords: 60 }}
		</article>
	{% endfor %}
	{% if paginator.total_pages > 1 %}
		{% if paginator.previous_page %}
				{% if paginator.previous_page == 1 %}
					<a class="page-bar-prev" href="/">&lt; Prev</a>
				{% else %}
					<a class="page-bar-prev" href="/page{{ paginator.previous_page }}">&lt; Prev</a>
				{% endif %}
		{% endif %}
		{% if paginator.next_page %}
			<a class="page-bar-next" href="/page{{ paginator.next_page }}">Next &gt;</a>
		{% endif %}
	{% endif %}
</div>
