<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title> Charles Bryan - {{ page.title }} </title>
	<script src="http://use.edgefonts.net/amaranth.js"></script>
	<script type="text/javascript" src="//use.typekit.net/mqx6xcz.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<link rel="stylesheet" href="/assets/styles/default.css" />
</head>
<body>

	<aside>
		<a href="{{ site.url }}">
			<h1>Hello, my name is <span class="soft-green">Charles Bryan</span>, I'm a software engineer.</h1>
		</a>
		<p>description of what i do, my philosophy</p>
		<p>and my social media links</p>
	</aside>


	<div class="content">
		<section class="posts">
			{{ content }}
		</section>
	</div>

	<script type="text/javascript">

	</script>
</body>
</html>