<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title> Charles Bryan - {{ page.title }} </title>
	<link rel="stylesheet" href="/assets/styles/main.css" />
</head>
<body>
	<div id="intro-nav">
		<div id="intro-nav-div">
			<div id="header">
				<a href="{{ site.url }}"><img src="/assets/images/tiger.png"></a>
				<a href="{{ site.url }}"><h1>Charles Bryan</h1></a>
				<a href="{{ site.url }}"><h2>Software Engineer</h2></a>
			</div>
		<!--	<div id="introduction">
				<span>Pursuing excellence.</span>
			</div> -->
			<nav id="nav">
				<ul>
					<li class="link-button"><a href="//plus.google.com/107733943809287250730?prsrc=3" rel="publisher" style="text-decoration:none;"><img src="//ssl.gstatic.com/images/icons/gplus-32.png" alt="Google+"/></a></li>
					<li><a href="http://www.linkedin.com/pub/charles-bryan/21/701/24" style="text-decoration:none;"><img src="/assets/images/linkedin.jpeg" alt="Linkedin" /></a></li>
					<li class="link-button"><a href="//github.com/chaseph" rel="publisher"><img src="/assets/images/Octocat.jpg" alt="Github"/></a></li>
					<li class="link-button"><a href="https://twitter.com/_Charles_Bryan_" class="twitter-follow-button" data-show-count="false" data-size="large" data-show-screen-name="false">Follow @_Charles_Bryan_</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>
				</ul>
			</nav>
		</div>
	</div>
	<div id="top-bar" class="right">
		<div class="right-content">
			<span><strong>{{ page.date | date: "%B %d, %Y" }}</strong></span>
		</div>
	</div>
	<div id="content" class="right">
		<div class="right-content">
			{{ content }}
		</div>
	</div>
</body>
</html>